.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 88px;
}
.signupHeader {
  position: fixed;
  top: 0;
  width: 393px;
  height: 88px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  z-index: 100;
}
.signupBackArrow {
  margin-top: 50px;
  margin-left: 20px;
}

.signupText {
  width: 100%;
  text-align: left;
  width: 100%;
  margin-left: 45px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.signupInput {
  width: 100%;
  text-align: center;
  margin-top: 36px;
}
.signupInputBox {
  width: 353px;
  height: 41px;
  background: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
input::placeholder {
  color: #bec2c6;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.signupButton {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
}
