.footer {
  position: fixed;
  bottom: 0;

  background: #f2f2f2;
  width: 393px;
  height: 100px;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  width: 32px;
  height: 46px;
  padding: 0;
}

.footerHome {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10.5px;
  padding: 0;
  height: 46px;
}
.footerHome:hover {
  color: #688acb;
}
.footerHomeBtn {
  margin: 0;
  padding: 0;
}
.footerHomeBtn:hover {
  color: #688acb;
}
.footerHomeIcon {
  margin: 0;
  padding: 0;
  width: 18.67px;
  height: 21px;
  margin-left: 0.55px;
}
.footerHome p {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 5.5px;
}

.footerCourse {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10px;
  padding: 0;
  height: 46px;
}
.footerCourse:hover {
  color: #688acb;
}
.footerCourseBtn {
  margin: 0;
  padding: 0;
}
.footerCourseBtn:hover {
  color: #688acb;
}
.footerCourseIcon {
  margin: 0;
  padding: 0;
  width: 25.67px;
  height: 21px;
  margin-left: 7px;
}
.footerCourse p {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 6.7px;
}

.footerRecord {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 8.75px;
  padding: 0;
  height: 46px;
}
.footerRecord:hover {
  color: #688acb;
}
.footerRecordBtn {
  margin: 0;
  padding: 0;
}
.footerRecordBtn:hover {
  color: #688acb;
}
.footerRecordIcon {
  margin: 0;
  padding: 0;
  width: 21px;
  height: 25.08px;
  margin-left: 9px;
}
.footerRecord p {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 3.5px;
}

.footerPlog {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10.25px;
  padding: 0;
  height: 46px;
}
.footerPlog:hover {
  color: #688acb;
}
.footerPlogBtn {
  margin: 0;
  padding: 0;
}
.footerPlogBtn:hover {
  color: #688acb;
}
.footerPlogIcon {
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  margin-left: 4px;
}
.footerPlog p {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 5.5px;
}

.footerMy {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10.5px;
  padding: 0;
  height: 46px;
}
.footerMy:hover {
  color: #688acb;
}
.footerMyBtn {
  margin: 0;
  padding: 0;
}
.footerMyBtn:hover {
  color: #688acb;
}
.footerMyIcon {
  margin: 0;
  padding: 0;
  width: 21px;
  height: 21px;
  margin-left: 13px;
}
.footerMy p {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 5.5px;
}
