.footer {
  font-family: "SUIT Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;

  position: fixed;
  bottom: 0;

  background: #f2f2f2;
  width: 393px;
  height: 100px;
  padding: 0;
  margin: 0;
}
.imgBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.textBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activeText {
  color: black;
}

button {
  width: 32px;
  height: 46px;
  padding: 0;
}
p {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #a4a9ad;
}

.footerHome {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10.5px;
  padding: 0;
  width: 50px;
}
.footerHomeBtn {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footerHomeIcon {
  margin: 0;
  padding: 0;
  width: 21.67px;
  height: 24px;
  color: #a4a9ad;
}
.footerHomeIcon_active {
  margin: 0;
  padding: 0;
  width: 21.67px;
  height: 24px;
  color: #000000;
}
.footerhome p {
  display: flex;
  width: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 4px;
}

.footerCourse {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10px;
  padding: 0;
  width: 50px;
}
.footerCourseBtn {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footerCourseIcon {
  margin: 0;
  padding: 0;
  width: 25.67px;
  height: 25px;
  color: #a4a9ad;
}
.footerCourseIcon_active {
  margin: 0;
  padding: 0;
  width: 25.67px;
  height: 25px;
  color: #000000;
}
.footercourse p {
  display: flex;
  width: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 4.5px;
}

.footerRecord {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 8.75px;
  padding: 0;
  width: 50px;
}
.footerRecordBtn {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footerRecordIcon {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 29.08px;
  margin-top: 1.5px;
  color: #a4a9ad;
}
.footerRecordIcon_active {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 29.08px;
  margin-top: 1.5px;
  color: #000000;
}
.footerrecord p {
  display: flex;
  width: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 4.5px;
}

.footerPlog {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10.25px;
  padding: 0;
  width: 50px;
}
.footerPlogBtn {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footerPlogIcon {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  color: #a4a9ad;
}
.footerPlogIcon_active {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  color: #000000;
}
.footerplog p {
  display: flex;
  width: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 4.455px;
}

.footerMy {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-top: 10.5px;
  padding: 0;
  width: 50px;
}
.footerMyBtn {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footerMyIcon {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  color: #a4a9ad;
}
.footerMyIcon_active {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  color: #000000;
}
.footermy p {
  display: flex;
  width: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 4.5px;
  color: #a4a9ad;
}
